.round-button-for-class {
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    width: 150px;
    text-align: center;
}

.grid-container-For-CBS-page {
    display: grid;
    grid-template-columns: minmax(250px, auto) minmax(250px, auto);
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .grid-item-container-For-CBS-page {
    padding: 15px;
  }