.round-button-for-class {
  box-shadow: -3px -3px 6px 1px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:29px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #810e05;
}

.round-button-for-choose-room {
  box-shadow: -3px -3px 6px 1px #aec0cf;
	background:linear-gradient(to bottom, #afc1d3 5%, #a7bcd1 100%);
	background-color:#b6c4d3;;
	border-radius:29px;
	border:1px solid #6195ca;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
}

.grid-container-For-CBS-page {
    display: grid;
    grid-template-columns: minmax(250px, auto) minmax(250px, auto);
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .grid-item-container-For-CBS-page {
    padding: 10px;
  }


  .grid-container-for-room-selection {
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    grid-gap:15px;
    padding: 10px;
    text-align: center;
  }

  .grid-item-container-for-room-selection  {
    padding: 10px;
  }

  .grid-container-for-clients-that-are-unasigned {
    display: grid;
    grid-template-columns: minmax(200px, auto) minmax(200px, auto) minmax(200px, auto);
    grid-gap:15px;
    padding: 10px;
    text-align: center;
  }

  .grid-item-container-clients-that-are-unasigned  {
    padding: 10px;
  }


  .componentWrapper {
    border: solid cadetblue;
    border-radius: 40px;
    padding: 15px 10px 10px;
    width: 95%;
  }
  
  .componentWrapper .header {
    position:absolute;
    margin-top:-25px;
    margin-left:10px;
    color:white;
    background:cadetblue;
    border-radius:10px;
    padding:2px 10px;
  }

  .add-button-class {
    box-shadow: -2px -1px 6px 2px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:11px;
    border:1px solid #1649e3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:13px 30px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
  }

  .custom-modal-for-getting-a-client-that-is-unassigned {
    max-width: 700px; /* Adjust this value as per your requirement */
    width: 100%; /* You can use percentage or pixels */
}
