.grid-container-For-selected {
    display: grid;
    grid-template-columns: minmax(250px, auto) minmax(200px, auto);
    grid-gap: 20px;
    text-align: left;
    font-size: 25px;
  }

  .checkBoxSize {
    margin-left: 10px;
    transform: scale(2.0);
    margin-top: 4px;
  }

  .grid-container-For-bodies {
    display: grid;
    grid-template-columns: 325px 325px;
    text-align: center;
    margin-top: -30px;
    height: 556px;
  }