.grid-container-For-selected {
    display: grid;
    grid-template-columns: minmax(250px, auto) minmax(200px, auto);
    grid-gap: 20px;
    text-align: left;
    font-size: 25px;
  }

  .checkBoxSize {
    margin-left: 10px;
    transform: scale(2.0);
    margin-top: 4px;
  }

  .grid-container-For-bodies {
    display: grid;
    grid-template-columns: 325px 325px;
    text-align: center;
    margin-top: -30px;
    height: 556px;
  }

  .refuse_health_check_button_class {
    box-shadow: -2px -1px 6px 2px #f01124;
    background:linear-gradient(to bottom, #f50e0e 5%, #de1616 100%);
    background-color:#f50e0e;
    border-radius:11px;
    border:1px solid #f70840;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:13px 30px;
    text-decoration:none;
    text-shadow:0px 1px 0px #f00e3b;
  }

