.grid-container-For-selected {
    display: grid;
    grid-template-columns: minmax(250px, auto) minmax(200px, auto);
    grid-gap: 20px;
    text-align: left;
    font-size: 30px;
  }

  .grid-container-For-bodies {
    display: grid;
    grid-template-columns: 325px 325px;
    grid-gap: 20px;
    text-align: center;
    border: solid;
    font-size: 30px;
    width: 100%;
  }