.grid-container-For-behaviors {
    display: grid;
    grid-template-columns: minmax(325px, auto) minmax(325px, auto);
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .grid-container-For-behavior-buttons {
    display: grid;
    grid-template-columns: minmax(150px, auto) minmax(50px, auto);
    grid-gap: 20px;
    padding: 6px;
    justify-content: center;
    margin-bottom: 4px;
  }

  .grid-container-For-aggression-buttons {
    display: grid;
    grid-template-columns: minmax(50px, auto) minmax(150px, auto);
    grid-gap: 20px;
    padding: 6px;
    justify-content: center;
    margin-bottom: 4px;
  }

  .grid-container-For-behavior-buttons-modal {
    display: grid;
    grid-template-columns: minmax(150px, auto) minmax(50px, auto);
    grid-gap: 20px;
    padding: 2px;
    justify-content: center;
    margin-bottom: 4px;
  }

  .grid-container-For-aggression-buttons-modal {
    display: grid;
    grid-template-columns: minmax(50px, auto) minmax(150px, auto);
    grid-gap: 20px;
    padding: 2px;
    justify-content: center;
    margin-bottom: 4px;
  }

  .stopButton {
    box-shadow: -2px -2px 7px 0px #ab1616;
    background:linear-gradient(to bottom, #ff7a7a 5%, #e33b3b 100%);
    background-color:#ff7a7a;
    border-radius:5px;
    border:1px solid #c23434;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc5454;
  }

  
  .submitButton {
    box-shadow: -2px -2px 7px 0px #1564ad;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:5px;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
  }

  .counter-buttons {
    box-shadow: -2px -2px 8px 0px #1564ad;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px; 
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    width: 190px;
    height: 58px;
  }

  .level_2_counter_button {
    box-shadow: -2px -2px 8px 0px #f3b405;
    background:linear-gradient(to bottom, #f3b405 5%, #f3b405 100%);
    background-color:#f3b405;
    border:1px solid #f3b405;
    display:inline-block;
    cursor:pointer;
    color:#050505;
    font-family:Arial;
    font-size:20px; 
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #f3b405;
    width: 190px;
    height: 58px;
  }

  .level_3_counter_button {
    box-shadow: -2px -2px 8px 0px #A0522D;
    background:linear-gradient(to bottom, #A0522D 5%, #A0522D 100%);
    background-color:#A0522D;
    border:1px solid #A0522D;
    display:inline-block;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:20px; 
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #A0522D;
    width: 190px;
    height: 58px;
  }

  .level_4_counter_button {
    box-shadow: -2px -2px 8px 0px #da7171;
    background:linear-gradient(to bottom, #da7171 5%, #da7171 100%);
    background-color:#da7171;
    border:1px solid #da7171;
    display:inline-block;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:20px; 
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #da7171;
    width: 190px;
    height: 58px;
  }

  .level_5_counter_button {
    box-shadow: -2px -2px 8px 0px #511515;
    background:linear-gradient(to bottom, #511515 5%, #511515 100%);
    background-color:#511515;
    border:1px solid #511515;
    display:inline-block;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:20px; 
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #511515;
    width: 190px;
    height: 58px;
  }


  .counter-buttons-modal {
    box-shadow: -2px -2px 8px 0px #1564ad;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    width: 190px;
    height: 54px;
  }
