#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ContentComponentBody {
  width: 100%; 
  margin: 0 auto;
  background-color: white; 
}

.CommentDropDown_Grid {
  display:grid;
  grid-template-columns: auto;
  padding: 2px;
  text-align: center;
  margin: 0 auto;
  place-items: center;
}
